.archive li.product a.button {
    bottom: -45px;
    position: absolute;
    right: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.postid-280 .wpcc-group-radios[data-name=tamano],
.postid-297 .wpcc-group-radios[data-name=tamano] {
    display: none;
}

div#tab-description.woocommerce-Tabs-panel--description {
    display: block !important;
    margin-bottom: 0vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 60vw;
}

div#tab-description.woocommerce-Tabs-panel--description .woocommerce-Tabs-panel--description {
    padding-left: 0;
    padding-right: 0;
}

div#tab-description.woocommerce-Tabs-panel--description p {
    font-size: 1rem;
}

.wpcc-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.single-product .section.site-main .product.type-product .entry-summary {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding-bottom: 10vh;
    width: 60vw;
}

.wpcc-field {
    align-items: flex-start;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.0666666667); */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px;
    order: 2;
    padding: 1rem 0;
    transition: background-color 0.3s ease 0s;
    width: 20vw;
}
.wpcc-field:hover {
    background-color: #f5f5f5;
}
  
.wpcc-group-radios {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

.wpcc-group-radios[data-name=tamano] {
    order: 0;
}

.wpcc-group-radios[data-name=cartulina] {
    order: 1;
}

.wpcc-field-name {
    align-items: center;
    display: flex;
    font-size: var(--wpo-option-name-font-size);
    font-weight: 500;
    margin: 0 0 4px;
    padding: 0.25rem 1.5625rem;
}

.wpcc-field-radios {
    /* position: absolute;
    overflow: hidden;
    height: 0; */

    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: flex-start;
}

.wpcc-input-radio {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.25rem 1.5625rem;
    width: 20vw;
}

.wpcc-input-radio .custom__sizes-size {
    height: fit-content;
    margin-top: 1rem;
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}

.wpcc-input-radio .custom__sizes-size.active {
    max-height: 12.5rem;
}

.wpcc-group-radios[data-family=encuadernado],
.wpcc-group-radios[data-family=plastificado],
.wpcc-group-radios[data-family=agujeros],
.wpcc-group-radios[data-family=pasar-pagina] {
    height: fit-content;
    margin-top: 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: all 0.25s ease;
    width: 0%;
}

.wpcc-group-radios.active {
    max-height: 50rem !important;
    opacity: 1;
    padding: 1rem 0;
    width: 20vw;
}

.wpcc-input-radio .custom__sizes-size span {
    display: inline-block;
    width: 80px;
}

.wpcc-input-radio .custom__sizes-size input[type="number"] {
    display: inline-block;
    width: calc(100% - 90px);
}

.variations__table-title {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .3125rem;
    margin: 1.5rem 0;
    width: 100%;
}

.variations__table-title h2, .variations__table-title p {
    width: 100%;
}

.variations__table-title label {
    display: inline-flex;
    flex-direction: column;
    row-gap: .5rem;
}

.variations__table-title input.custom__quantity {
    width: 10vw;
}

.variations__table-title #calcularCantidad {
    margin: 0;
    width: 7.5rem;
}

button[type=button],
button[type="submit"] {
    background-color: #E97F25;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1.4rem;
    order: 3;
    padding: 0.7rem;
    width: max(200px, 15vw);
}

#calcularBtn,
#calcularCantidad {
    background-color: #607D8B;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.wpcc-input-upload,
.vicode-custom-field-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem;
    outline: 1px dashed #ccc;
    outline-offset: -10px;
    padding: 1.5rem;
    width: calc(20vw - 3rem);
}

.wpcc-input-upload .box__dragndrop {
    display: inline;
}

.wpcc-input-upload .box__icon {
    display: block;
    fill: #627C8A;
    height: 80px;
    width: 70%;
}

.wpcc-input-upload label {
    cursor: pointer;
}

.box__file,
#vicode-file-field {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
}

button.box__button {
    background-color: #617d8b;
    border: 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 0;
    padding: 0.7rem;
    width: 200px;
}


.box__success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

.product-type-simple form.cart .addtocart-wrapper {
    align-items: flex-end;
    display: flex;
    justify-content: flex-start;
    padding: 2rem !important;
    width: 60vw;
}

.wpcc-group-radios[data-name=tipo_laminado] {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s, opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.wpcc-group-radios.active {
    max-height: 15rem;
    opacity: 1;
    transition: max-height 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, opacity 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s; 
}

/* COPISTERIA ONLINE - OCULTAR TABLA */
.postid-2784 table.variations__table thead tr th:nth-child(2), 
.postid-2784 table.variations__table tbody tr td:nth-child(2),
.postid-2784 table.variations__table thead tr th:nth-child(3), 
.postid-2784 table.variations__table tbody tr td:nth-child(3),
.postid-2784 table.variations__table thead tr th:nth-child(4), 
.postid-2784 table.variations__table tbody tr td:nth-child(4) {
    display: none !important;
}
